<script>
function togglePassword() {
    const pwd = document.getElementById('account_password');
    const pswdShow = document.getElementById('pswdShow');
    pwd.type = pwd.type === 'password' ? 'text' : 'password';
    pswdShow.textContent = pwd.type === 'password' ? 'Show Password' : 'Hide Password';
}
</script>

<div id="login-box">
    <h1>Account Registration</h1>
    <%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
        </ul>
    <% } %>
    <form action="/account/register" method="post" class="add-form">
        <label for="account_firstname">First Name</label>
        <input type="text" name="account_firstname" id="account_firstname" required <% if (typeof account_firstname !== 'undefined') { %> value="<%= locals.account_firstname %>" <% } %> >
        
        <label for="account_lastname" id="account_lastname">Last Name</label>
        <input type="text" name="account_lastname" id="account_lastname" required <% if (typeof account_lastname !== 'undefined') { %> value="<%= locals.account_lastname %>" <% } %>>

        <label for="account_email">Email Address</label>
        <input type="email" name="account_email" id="account_email" required <% if (typeof account_email !== 'undefined') { %> value="<%= locals.account_email %>" <% } %> >
        
        <label for="account_password">Password</label>
        <input type="password" name="account_password" id="account_password" required 
        pattern="^(?=*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
        title="Password must be at least 12 characters and contain at least 1 uppercase letter, 1 number, and 1 special character | Spaces Not Allowed.">
        <span id="pswdShow" onclick="togglePassword()">Show Password</span>
        
        <button type="submit" class="submit-btn">Register</button>
    </form>
</div>