<% if (title) { %>
 <h1><%= title %></h1>
 <% } else {
    res.redirect('/')
 } %>

<% if (typeof messages !== 'undefined') { %>
    <% if (messages.notice) { %>
        <div class="notice">&#10069; <%= messages.notice %></div>
    <% } %>
    <% if (typeof errors !== 'undefined' && !errors.isEmpty()) { %>
        <ul class="notice error">
            <% errors.array().forEach(error => { %>
                <li>&#9940; <%= error.msg %></li> 
            <% }) %>
        </ul>
    <% } %>
    <% if (messages.success) { %>
        <div class="notice success">&#9989; <%= messages.success %></div>
    <% } %>
<% } %>

<form action="/inv/classification" method="POST" class="add-form" id="add-class">
    <label for="classification_name">Name:</label>
    <input type="text" name="classification_name" id="classification_name" required maxlength="30" pattern="[A-Za-z0-9]+" title="Letters and numbers only, no spaces or special characters." <% if (typeof classification_name !== 'undefined') { %> value="<%= classification_name %>" <% } %>>
    <button type="submit" class="submit-btn">Add Classification</button> 
</form>